body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #768799;
}

#pokedex-app {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #768799;
}

header {
    display: flex;
    background-color: #768799;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

#search-bar {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

#type-filter {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

.pokemon-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #3158cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pokemon-card:hover{
    transform: scale(1.05);
}
.pokemon-card button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #051d38;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.pokemon-card button:hover {
    transform: scale(1.1);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #8090e2;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 600px;
    position: relative;
    border-radius: 5px;
    max-height: 80vh; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
}

.close {
    color: #0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #f50505;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.25);
}

/* Pagination styles */
#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pagination button {
    padding: 10px;
    margin: 0;
    background-color: #051d38;
    color: #fff;
    border: 2px solid #FFFFFF 1rem;
    cursor: pointer;
}

#pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.page-number {
    padding: 10px;
    margin: 0;
    background-color: #051d38;
    color: #fff;
    border: 2px solid #FFFFFF 1rem;
    cursor: pointer;
}

.page-number.active {
    background-color: #3158cc;
}

/* Responsive adjustments */
@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        font-size: 2.5em;
    }

    #search-bar, #type-filter {
        margin-top: 0;
    }

    .grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .modal-content {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .modal-content {
        width: 50%;
    }
}